body {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
}
.map {
  height: 95vh;
  padding: 1rem;
  width: 70%;
}
.resturantList {
  list-style: none;
  padding: 1rem;
  height: 95vh;
  overflow-y: scroll;
}
.resturant {
  padding: 1rem;
}
.resturant:nth-child(odd) {
  background-color: #f3f3f3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.resturant__hero {
  display: flex;
  justify-content: space-between;
}
.resturant__name {
  font-size: 1.4rem;
  font-weight: 600;
}
.resturant__icon {
}
.resturant__row {
  display: flex;
  justify-content: space-between;
}
